@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* Default Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Declaring CSS Variables */

:root {
  --font: #333;
  --white: #ffffff;
  --primary: #047aed;
  --dark: #002240;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: var(--font);
}

img {
  width: 100%;
}

/* Nav Bar  */

header {
  background-color: var(--primary);
  color: var(--white);
}

header h1 {
  cursor: pointer;
}

header ul {
  display: flex;
}

header a {
  padding: 10px 25px;
  color: var(--white);
}

header a:hover {
  border-bottom: 2px var(--white) solid;
}

/* Hero Section */

.hero {
  background-color: var(--primary);
  height: 450px;
  color: var(--white);
  position: relative;
}

.hero img {
  width: 400px;
  margin-top: 50px;
  z-index: 100;
}

.hero h1 {
  font-size: 45px;
}

.hero p {
  margin: 25px 0px;
}

.hero a {
  color: var(--white);
  padding: 15px 30px;
  border: 1px var(--white) solid;
  border-radius: 10px;
  transition: 0.6s ease-in;
}

.hero a:hover {
  background-color: var(--white);
  color: var(--font);
  transition: 0.6s ease-out;
}

.hero::before,
.hero::after {
  content: '';
  position: absolute;
  height: 120px;
  bottom: -50px;
  right: 0;
  left: 0;
  background-color: var(--white);
  transform: skewY(-3deg);
  z-index: 1;
}

/* access Section */
.access {
  padding-top: 50px;
}

.access h3,
i {
  color: var(--font);
  margin: 10px;
  font-weight: 300;
}

.access-heading {
  padding-bottom: 30px;
  font-size: 1.8em;
  font-weight: 300;
}

/* Laptop cards */
.laptops {
  padding-top: 30px;
}

.laptops p {
  line-height: 2.5;
  font-weight: 500;
}

.laptops a {
  color: var(--font);
  padding: 10px 50px;
  border: 1px var(--font) solid;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.laptops a:hover {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
  transition: 0.3s ease-in-out;
}

/* Money Back section */
.money-back {
  margin-top: 50px;
  height: 300px;
  background-color: var(--primary);
  color: var(--white);
  align-items: center;
}

.money-back img {
  padding-top: 50px;
  width: 300px;
}

.money-back h2 {
  font-size: 2.3em;
}

.money-back p {
  font-size: 1.5em;
  margin: 20px 0px;
}

.money-back a {
  color: var(--white);
  padding: 15px 30px;
  border: 1px var(--white) solid;
  border-radius: 10px;
  transition: 0.3s ease-in;
}

.money-back a:hover {
  background-color: var(--white);
  color: var(--font);
  transition: 0.3s ease-out;
}

/* Our Partnerss Section */

.our-partners {
  margin-top: 50px;
}

.our-partners .card {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.our-partners .card:hover {
  transform: translateY(-10px);
}

/* Footer */
footer {
  margin-top: 50px;
  background-color: var(--dark);
  height: 200px;
}

footer {
  color: var(--white);
}

footer a {
  color: var(--white);
}

footer li {
  margin: 10px 0px;
}
footer i {
  color: var(--white);
  cursor: pointer;
  margin: 0px 15px;
}

/* ------------------ */

/* Tablets  and Mobiles */
@media (max-width: 875px) {
  /* Adjust the Grid */
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  header {
    height: auto;
    text-align: center;
  }

  header .flex {
    flex-direction: column;
  }

  nav ul {
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    height: 50px;
    border-radius: 10px;
  }

  /* The Hero Section */

  .hero {
    height: 630px;
    text-align: center;
  }

  .hero h1 {
    margin-top: 30px;
  }

  .hero .flex {
    flex-direction: column;
  }

  .hero img {
    margin-left: auto;
    margin-right: auto;
    width: 275px;
  }

  /* The Money Back Section */

  .money-back {
    height: auto;
    text-align: center;
    padding: 30px 0px;
  }

  .money-back img {
    margin: auto;
    width: 230px;
  }

  .money-back .flex {
    flex-direction: column;
    justify-content: center;
  }

  /* Our partners Section */

  .our-partners .card {
    width: 100%;
  }

  /* footer */

  footer {
    height: auto;
    text-align: center;
    padding: 50px 0px;
  }
}
