/* Utils */
.container {
  max-width: 1250px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 25px;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 15px;
  padding: 20px;
  color: var(--font);
}

.text-center {
  text-align: center;
}
